.accountContainer {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background: #f9f9f9;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.heading {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.infoRow {
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoRow label {
  font-weight: bold;
  flex: 1;
}

.infoRow span, .infoRow input {
  flex: 2;
  margin-left: 1rem;
}

.infoRow button {
  /* margin-left: 1rem;
  background: #4f46e5;
  color: white;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 8px; */
  cursor: pointer;
}

.profilePic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
